################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MAPSToCWD/.vs/MAPSToCWD/v16
/MAPSToCWD/bin/Development
/MAPSToCWD/obj/Development
/MAPSToCWD/MAPSToCWD.dtproj.user
/MAPSToCWD/MAPSToCWD.dtproj
